<div class="row justify-content-center">
  <div class="col-xs-12 col-lg-6 col-md-8">
    <form [formGroup]="theForm">
      <div class="form-group">
        <label for="email"><b>Email Address</b></label>
        <input type="email" id="email" class="form-control" placeholder="Email Address"
          [formControlName]="'emailAddress'">
        <div *ngIf="theForm.get('emailAddress').valid===false && theForm.get('emailAddress').touched === true">
          <span class="badge badge-danger ml-1">Email Address is Invalid!</span>
        </div>
      </div>
      <div class="form-group">
        <label for="password"><b>Password</b></label>
        <input type="password" id="password" class="form-control" placeholder="Password" [formControlName]="'password'">

        <div *ngIf="theForm.get('password').valid===false && theForm.get('password').touched === true">
          <span class="badge badge-danger ml-1">Password is Invalid!</span>
        </div>
      </div>
      <div class="form-group">
        <div class="row justify-content-center">
          <div class="col-xs-12 col-lg-6 col-md-8">
            <button class="btn btn-primary mb-2" style="width: 100%;" [textContent]="isLogin ? 'Login' : 'Sign Up'"
              [disabled]="theForm.valid === false" type="submit" (click)="processRequest()"></button>
          </div>
          <div class="col-xs-12 col-lg-6 col-md-8">
            <button class="btn btn-primary" style="width: 100%;" (click)="switchMode()"
              [textContent]="isLogin ? 'Switch To Sign Up' : 'Switch To Login'"></button>
          </div>
        </div>
      </div>
      <!-- <div *ngIf="isError">
        <app-alert [errorMessage]="errorMessage"></app-alert>
        <div class="alert alert-danger">
          {{errorMessage}}
        </div> -->
      <!-- </div> -->
      <ng-template retrieveRef>
      </ng-template>
    </form>
  </div>
</div>
